body {
    background: url(../images/stardust.png);
    color: white;
}
h2 {
    margin-top: 20px;
    text-align: center;
}

.food {
    margin: 10px;
}

#add-food {
    margin-top: 10px;
}

.newDiv {
    float: left;
    margin: 10px;
}

button:hover, #add-food:hover {
    background-color: #96b3e7;
}